{% extends 'EnterpriseBundle:Default:template.html.twig' %}
{% block content %}
    <div class="calendar">
        <div class="cont">
            <table class="month_name">
                <tr>
                    <th id="prevMonth"><</th>
                    <th id="month"></th>
                    <th id="nextMonth">></th>
                </tr>
            </table>
            <table class="calendar_page">
                <tr>
                    <th>MON</th>
                    <th>TUE</th>
                    <th>WED</th>
                    <th>THU</th>
                    <th>FRI</th>
                    <th>SAT</th>
                    <th>SUN</th>
                </tr>
            </table>
            <table class="calendar_page" id="calendar">

            </table>
        </div>
    </div>


{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts '@EnterpriseBundle/Resources/public/js/calendar.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}